<div>
  <link href="./feature-card.css" rel="stylesheet" />
  <a href="index.html">
    <div class="feature-card-card">
      <img
        alt="image"
        src="/playground_assets/350-3503978_cross-christian-transparent-png-cross-clipart-transparent-background-200w.png"
        class="feature-card-image"
      />
      <h4 class="feature-card-text Heading4"><span>The Almighty</span></h4>
      <span class="feature-card-text1 Content-Light">
        <span>
          God will always be the center of what I will do and about to do
        </span>
      </span>
    </div>
  </a>
</div>
