.grid-card-grid-card {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 36px;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-grays-white100);
}
.grid-card-image {
  width: 415px;
  height: 362px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
