<div>
  <link href="./slide.css" rel="stylesheet" />
  <div data-type="slide" class="slide-slide slide">
    <div class="slide-max-width max-content-container">
      <div class="slide-left-side">
        <div class="slide-decorations-container">
          <div class="slide-squares-container">
            <div class="slide-light-green"></div>
            <div class="slide-orange"></div>
          </div>
        </div>
        <div class="slide-image-container">
          <img
            alt="image"
            src="/playground_assets/261432744_930757867846558_8319249289406830967_n-min-700w.jpg"
            class="slide-image"
          />
          <div class="slide-slider-controls">
            <div data-action="previousSlide" class="slide-go-left"></div>
            <div data-action="nextSlide" class="slide-go-right"></div>
          </div>
        </div>
      </div>
      <div class="slide-right-side">
        <span class="slide-testimonial">
          <span>
            “The beauty of a woman is not in a facial mode, but the true beauty
            in a woman is reflected in her soul. It is the caring that she
            lovingly gives, the passion that she shows. The beauty of a woman
            grows with the passing years.”
          </span>
        </span>
        <span class="slide-author"><span>Audrey Hepburn</span></span>
      </div>
    </div>
  </div>
</div>
